.nav-item a {
    float: right;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color:gray;
  }
  .nav-item a:hover {
    background-color: #ddd;
    color: rgb(70, 9, 70);
  }
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}