* {
    font-family: 'Century Gothic', serif;
    }
.nav-item a {
    float: right;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color:gray;
  }
  .nav-item a:hover {
    background-color: #ddd;
    color: rgb(70, 9, 70);
  }
.card-img-hero {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.card-img-overlay {
    color: white
}
.card-img-main {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    opacity: 0.7;
}
  .card-body {
    background-color: rgb(0, 0, 0);
    padding: 2%;
    height: 5%;
    color: white;
    font-size: 10%;
    text-decoration: none;
    opacity: 0.7;
  }

  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    opacity: 0.7;
}
.card-img-top:hover {
    opacity:1.0;
}
.card-body:hover {
    opacity:1.0;
}